* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #202122;
    background: white;
}


/* HEADER */

header {
    height: 70px;
    background: #f8f9fa;
    border-bottom: 1px solid #c8ccd1;

    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
}

.menu,
.search,
.profile {
    border: none;
    background: none;
    font-size: 28px;
    cursor: pointer;
}

.logo {
    flex: 1;
    font-family: Georgia, serif;
    font-size: 30px;
    text-align: center;
}

.logo span {
    color: #3366cc;
    font-weight: bold;
}


/* BANNER */

.banner {
    min-height: 180px;
    padding: 25px;

    display: flex;
    align-items: center;
    gap: 25px;

    border-bottom: 1px solid #c8ccd1;
}

.banner-icon {
    font-size: 55px;
}

.banner h3 {
    font-size: 25px;
    margin: 0 0 10px;
    font-weight: normal;
}

.banner p {
    font-size: 18px;
    line-height: 1.5;
    margin: 5px 0 15px;
}

.banner b {
    font-size: 17px;
}

.close {
    margin-left: auto;
    border: none;
    background: #f0f2f5;
    border-radius: 50%;

    width: 55px;
    height: 55px;

    font-size: 35px;
    cursor: pointer;
}


/* CONTENT */

main {
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

h1 {
    font-family: Georgia, serif;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 30px;
}


/* TABS */

.tabs {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid #c8ccd1;
}

.tabs div {
    padding: 15px 5px;
    font-weight: bold;
    font-size: 18px;
}

.tabs .active {
    border-bottom: 3px solid #202122;
}


/* TOOLS */

.tools {
    display: flex;
    justify-content: flex-end;
    gap: 25px;

    padding: 15px 0;
}

.tools button {
    border: none;
    background: none;
    font-size: 25px;
    cursor: pointer;
}


/* NOTICE */

.notice {
    border-left: 8px solid #ff9900;
    background: #f8f9fa;

    padding: 20px;
    margin-bottom: 25px;

    display: flex;
    justify-content: space-between;
    gap: 20px;
}


/* ARTICLE */

article {
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 1.7;
}

article p {
    margin-bottom: 25px;
}

article h2 {
    font-size: 35px;
    font-weight: normal;
    border-bottom: 1px solid #a2a9b1;
}


/* MOBILE */

@media (max-width: 600px) {

    header {
        height: 65px;
        padding: 0 12px;
        gap: 10px;
    }

    .logo {
        font-size: 25px;
    }

    .banner {
        padding: 20px;
        gap: 15px;
    }

    .banner-icon {
        font-size: 40px;
    }

    .banner h3 {
        font-size: 22px;
    }

    .banner p {
        font-size: 16px;
    }

    main {
        padding: 25px 30px;
    }

    h1 {
        font-size: 43px;
    }

    article {
        font-size: 19px;
    }

    .notice {
        display: block;
    }
}
